@using WebApp.Members.Models
@model CreateMemberViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Add";
}

<h1>Add new</h1>

<h4>Member</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Members" asp-action="New" method="POST">
            <div class="form-group">
                <label class="form-label" asp-for="Name">Full name</label>
                <input class="form-input" asp-for="Name"/>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="PhoneNumber">Phone number</label>
                <input class="form-input" asp-for="PhoneNumber"/>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Email">E-mail address</label>
                <input class="form-input" asp-for="Email"/>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Section">Section</label>
                <input class="form-input" asp-for="Section"/>
            </div>
            <div class="form-group">
                <label class="form-label">Roles</label><br/>
                <input class="form-input" type="checkbox" asp-for="SingerRole" checked="@Model.SingerRole"/>
                <label>Singer</label><br/>
                <input class="form-input" type="checkbox" asp-for="CouncilRole" checked="@Model.CouncilRole"/>
                <label>Council</label><br/>
                <input class="form-input" type="checkbox" asp-for="ConductorRole" checked="@Model.ConductorRole"/>
                <label>Conductor</label><br/>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>